*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.1rem;
}

img {
  max-width: 100%;
}

// Reusable classes for the body paragraph, titles and buttons
.body__content {
  font-family: $bodyFont;
  color: $mainGrey;
  letter-spacing: 0px;
  line-height: 1.5;
}

.body__title {
  font-family: $headingFont;
  color: $mainGreen;
  font-weight: normal;
}

.body__btn {
  background-color: $accentGreen;
  border-radius: 29px;
  font-family: $bodyFont;
  color: $mainGreen;
  font-weight: $fw-m;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $mainGreen;
    color: $accentGreen;
  }
}
