.hero {
  height: auto;
  margin-top: 8rem;

  &__content {
    @include container($max-width: 75em);
    @include clearfix;

    &--title {
      font-size: 96px;
      width: 80%;
    }

    &--intro {
      width: 60%;
    }

    &--btn {
      margin-top: 2rem;
      transition: 0.3s;
      padding: 15px 32px;
    }
  }

  &--img {
    width: 99%;
    margin-top: 10rem;
  }
}
