.barristers {
  background-color: $backgroundGrey;
  height: auto;

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      font-size: 64px;
      margin-top: 5rem;
    }

    &--paragraph {
      width: 45%;
      text-align: center;
    }
  }
}
