.barristers {
  background-color: $backgroundGrey;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--title {
    font-size: 64px;
    margin-top: 5rem;
  }

  &--paragraph {
    width: 45%;
    text-align: center;
  }

  &--btn {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 20px 65px;
  }
}

.barrister__card--container {
  @include container($max-width: 75em);
  @include clearfix;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.barrister__card {
  width: 250px;
  background-color: white;

  &--content {
    padding: 1rem;
    height: 200px;
  }

  &--name {
    font-size: 24px;
    font-family: $headingFont;
    color: $mainGreen;
    font-weight: $fw-m;
  }

  &--speciality {
    margin-top: 1rem;
    font-size: 14px;
    font-family: $bodyFont;
    color: $mainGrey;
    margin-bottom: 4rem;
    height: 50px;
  }

  &--cta {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.8px;
    font-family: $bodyFont;
    font-weight: $fw-m;
    color: $accentGreen;
  }

  img {
  }
}
